{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}



{% block container_fluid %}

<script>

function categoryChange(e) {
    var good_a = ["라옹B", "라옹C", "선택안함"];
    var good_b = ["라옹A", "라옹C" , "선택안함"];
    var good_c = ["라옹A", "라옹B", "선택안함"];
    var target = document.getElementById("prelevel");

    if(e.value == "라옹A") var d = good_a;
    else if(e.value == "라옹B") var d = good_b;
    else if(e.value == "라옹C") var d = good_c;
    
    target.options.length = 0;
    
    for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
    } 

    var good_a1 = ["기본", "공동주택반영"];
    var good_b1 = ["기본"];
    var good_c1 = ["기본"];
    var target = document.getElementById("model");

    if(e.value == "초등학교") var d = good_a1;
    else if(e.value == "중학교") var d = good_b1;
    else if(e.value == "고등학교") var d = good_c1;
    
    target.options.length = 0;
    
    for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
    } 

}

function startProgress() {
      const progressBar = document.getElementById('progressBar');
      let currentValue = 0;
      const duration = 1000; // 10초(밀리초)

      const interval = setInterval(() => {
        currentValue += 1;
        progressBar.value = currentValue;

        if (currentValue >= 100) {
          clearInterval(interval);
          triggerAlarm();
        }
      }, duration / 100);
    }

function triggerAlarm() {
    // 여기에 알람을 울리는 코드를 넣으세요 (예: alert 사용)
    alert('학습완료');
    document.getElementById("contents").submit();

}

</script>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">AI 어시스턴트</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <form id="contents" name="contents" method="get" action="{% url 'users:simulation_close_results_url' %}">
                            {% csrf_token %}
                            <p>
                            <label for="schoollevel">학습 폰트 선택 : </label>
                            <select id="schoollevel" name="schoollevel" onchange="categoryChange(this)">
                                <option>선택해주세요</option>
                                <option value="라옹A">라옹A</option>
                                <option value="라옹B">라옹B</option>
                                <option value="라옹C">라옹C</option>
                            </select>
                            </p>

                            <p>
                            <label for="prelevel">학습 폰트 선택 : </label>
                            <select id="prelevel" name="prelevel">
                                <option selected disabled>선택해주세요</option>
                                <option >선택해주세요</option>
                            </select>
                            </p>

                            <p>
                            <label for="model">학습 폰트 선택 : </label>
                            <select id="model" name="model">
                                <option selected disabled>선택해주세요</option>
                                <option value="기본">기본</option>
                                <option value="공동주택반영">공동주택반영</option>
                            </select>
                            </p>
                            <p>
                            <progress id="progressBar" value="0" max="100" id="jb"></progress>
                            </p>
                            <!-- <p>
                            <label for="prelevel">예측 모델 선택 : </label>
                            <select id="prelevel" name="prelevel">
                                <option selected disabled>선택해주세요</option>
                                <option value="RNN">RNN</option>
                                <option value="LSTM">LSTM</option>
                                <option value="DLinear">DLinear</option>
                                <option value="NLinear">NLinear</option>
                            </select>
                            </p> -->

                            <!-- <p>예측시작년도 : <input name="start_num" type="text"></p> -->
                            <!-- <p>학급당 학생 수 : <input name="limit" type="text"></p> -->

                            <p>
                                <button type="button" onclick="startProgress();">학습 시작</button>
                            </p>
                        </form>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}